
<div class="col-md-5">

    <div class="block block-drop-shadow">
        <div class="head bg-default bg-light-rtl">
            <div class="content list">
                <div class="list-title">
                    Products
                </div>
                <div class="list-item" ng-repeat="product in products">
                    <div class="list-text row">
                        <div class="col-xs-12 col-sm-6 col-lg-8"><strong class="pull-left">{{product.title}}</strong></div>
                        <div class="col-xs-12 col-sm-6 col-lg-8"><span>Price: {{ product.price | currency}}</span></div>
                        <div <div class="col-xs-12 col-sm-6 col-lg-8"><p>Description: {{ product.description }}</p></div>
                        <div class="side pull-right">
                            <ul class="buttons">
                                <li><a href="#" ng-click="setProduct(product)" ><span class="icon-cogs"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-5" ng-show="productIsSelected">
               <form name='productEdit'>
               <div class="block">
                   <div class="header">
                       <h2>Default elements</h2>
                   </div>
                   <div class="content controls">
                       <div class="form-row">
                           {{ productToEdit | json}}
                           <div class="col-md-3">Name:</div>
                           <div class="col-md-9"><input type="text" class="form-control" placeholder="{productToEdit.title}" ng-model='productToEdit.title'/></div>
                       </div>
                       <div class="form-row">
                           <div class="col-md-3">Price</div>
                           <div class="col-md-9"><input type="text" class="form-control" placeholder="{productToEdit.price}" ng-model='productToEdit.price'/></div>
                       </div>
                       <div class="form-row">
                           <div class="col-md-3">Quantity</div>
                           <div class="col-md-9"><input type="text" class="form-control" placeholder="{productToEdit.quantity}" ng-model='productToEdit.quantity'/></div>
                       </div>                                       
                       <div class="form-row">
                           <div class="col-md-3">Textarea:</div>
                           <div class="col-md-9"/><input type="text" placeholder="{productToEdit.description}" ng-model='productToEdit.description'/></div>
                       </div>   
                       <div class="form-row">
                           <div class="col-md-3">Image Url:</div>
                           <div class="col-md-9"/><textarea class="form-control" placeholder="{productToEdit.image}" ng-model='productToEdit.image'></textarea></div>
                       </div>                      
                       <div class="form-row">
                           <div class="col-md-3">Available:</div>
                           <div class="col-md-9">
                               <select class="form-control">
                                   <option>Option 1</option>
                                   <option>Option 2</option>
                                   <option>Option 3</option>
                                   <option>Option 4</option>
                               </select>
                           </div>
                       </div>
                       <div class="form-row">
                           <div class="col-md-3">Categories:</div>
                           <div class="col-md-9">
                               <select ng-model="productToEdit.availability" ng-options="bool for bools in productIsSelected"></select>
                           </div>
                       </div>
                       <div class="form-row">
                            <div class="side pull-right">
                           <a class="file-input-wrapper btn btn-default fileinput pull right">Submit</a>
                           </div>
                       </div>                        
                   </div>
                   </form>
               </div>