
<div class="col-md-5">

    <div class="block block-drop-shadow">
        <div class="head bg-default bg-light-rtl">
            <div class="content list">
                <div class="list-title">
                    Orders
                </div>
                <div class="list-item" ng-repeat="cart in carts">
                    <div class="list-text row">
                        <div class="col-xs-12 col-sm-6 col-lg-8"><strong class="pull-left">{{ cart._id }}</strong></div>
                        <div class="col-xs-12 col-sm-6 col-lg-8"><span>User ID: {{ cart.user }}</span></div>
                        <div class="side pull-right">
                            <ul class="buttons">
                                <li><a ng-click="setCart(cart)"><span class="icon-cogs" style="color:black"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-5" ng-show="cartIsSelected">
    <form name="userEdit" ng-submit="submitEditedCart(cartToEdit)">
        <div class="block">
            <div class="header">
                <h2>Order tail</h2>
            </div>
            <div class="content controls">
                <div class="form-row">
                    <div class="col-md-3">E-mail:</div>
                    <div class="col-md-9"><input type="text" class="form-control"
                                                 placeholder="{{ cartToEdit }}"
                                                 ng-model='cartToEdit.contents.quantity'/></div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">Password</div>
                    <div class="col-md-9"><input type="text" class="form-control"
                                                 placeholder="{{cartToEdit.contents.product}}"
                                                 ng-model='cartToEdit.contents.product'/></div>
                </div>


                <div class="form-row">

                </div>
                <div class="form-row">
                    <div class="col-md-3">Admin</div>
                    <div class="col-md-9">
                        <!--<select class="form-control" ng-model="cartToEdit.isAdmin"-->
                                <!--ng-options="bool as bool for bool in userIsAdmin">-->
                            <!--<option>{{cartToEdit.isAdmin}}</option>-->
                        <!--</select>-->
                    </div>
                </div>

                <div class="form-row">
                    <div class="side pull-right">
                        <button type="submit" class="file-input-wrapper btn btn-default fileinput pull right">Submit</button>
                    </div>

                    <div class="side pull-left">
                        <button type="submit" class="file-input-wrapper btn btn-danger" ng-click="deleteUser(userToEdit)">Delete</button>
                    </div>

                </div>

            </div>
    </form>
</div>

