<section id="form"><!--form-->
        <div class="container" ng-controller="LoginCtrl">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2>Login to your account</h2>
                        <form name ='loginForm' ng-submit='loginForm.$valid && sendLogin(login)'>

                        <alert type="danger" ng-show="loginForm.email.$error.required && loginForm.email.$touched || loginForm.password.$error.required && loginForm.password.$touched">
                            <div ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                                <p ng-message="required">A valid email address is required.</p>
                            </div>
                            <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                                <p ng-message="required">A valid password is required.</p>
                            </div>
                        </alert>

                            <input type="email" name="email" ng-model="login.email" placeholder="Email" required/>
                            <input type="password" name="password" ng-model="login.password" placeholder="Password" required />
                            <span>
                                <input type="checkbox" class="checkbox"> 
                                Keep me signed in
                            </span>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form"><!--sign up form-->
                        <h2>New User Signup!</h2>
                        <form name="signupForm" ng-submit="signupForm.$valid && sendSignup(signup)">

                        <alert type="danger" ng-show="signupForm.email.$error.required && signupForm.email.$touched || signupForm.password.$error.required && signupForm.password.$touched">
                            <div ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
                                <p ng-message="required">A valid email address is required.</p>
                            </div>
                            <div ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
                                <p ng-message="required">A valid password is required.</p>
                            </div>
                        </alert>

                            <input type="email" name="email" ng-model="signup.email" required placeholder="Email Address"/>
                            <input type="password" name="password" ng-model="signup.password" required placeholder="Password"/>
                            <button type="submit" class="btn btn-default">Signup</button>

                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </div>
    </section><!--/form