<head>
    <title>Taurus</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="icon" type="image/ico" href="favicon.ico"/>

    <link href="users/css/stylesheets.css" rel="stylesheet" type="text/css" />

    <script type='text/javascript' src='users/js/plugins/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='users/js/plugins/jquery/jquery-ui.min.js'></script>
    <script type='text/javascript' src='users/js/plugins/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='users/js/plugins/jquery/globalize.js'></script>
    <script type='text/javascript' src='users/js/plugins/bootstrap/bootstrap.min.js'></script>

    <script type='text/javascript' src='users/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'></script>
    <script type='text/javascript' src='users/js/plugins/uniform/jquery.uniform.min.js'></script>

    <script type='text/javascript' src='users/js/plugins/knob/jquery.knob.js'></script>
    <script type='text/javascript' src='users/js/plugins/sparkline/jquery.sparkline.min.js'></script>
    <script type='text/javascript' src='users/js/plugins/flot/jquery.flot.js'></script>
    <script type='text/javascript' src='users/js/plugins/flot/jquery.flot.resize.js'></script>

    <script type='text/javascript' src='users/js/plugins.js'></script>
    <script type='text/javascript' src='users/js/actions.js'></script>
    <script type='text/javascript' src='users/js/charts.js'></script>
    <script type='text/javascript' src='users/js/settings.js'></script>

</head>

<!-- reference: http://aqvatarius.com/themes/taurus_v12/html/# -->
<!-- page source: view-source:http://aqvatarius.com/themes/taurus_v12/html/# -->

<div class="row">

    <div class="col-md-2">

        <!-- navbar left: product / user / order management -->
        <div class="block block-drop-shadow">

            <div class="content list-group list-group-icons">
                <a href="component_messages.html" class="list-group-item">Product Management</a>
                <a href="component_charts.html" class="list-group-item">Order Management</a>
                <a href="sample_profile.html" class="list-group-item">User Management</a>
            </div>

        </div>

        <!--static sales box: I would like to make this dynamic if I have the time-->
        <div class="block block-drop-shadow">
            <div class="head bg-dot20">

                <h2>Total Annual Sales</h2>

                <div class="side pull-right">
                    <ul class="buttons"></ul>
                </div>
                <div class="head-subtitle">$614,102,116</div>

                <div class="head-panel nm">
                    <div class="hp-info hp-simple pull-left hp-inline">
                        <span class="hp-main">Y/O/Y <span class="icon-angle-right"></span> 89%</span>
                        <div class="hp-sm">
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="hp-info hp-simple pull-left hp-inline">
                        <span class="hp-main">Q/O/Q <span class="icon-angle-right"></span> 56%</span>
                        <div class="hp-sm">
                            <div class="progress progress-small">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100" style="width: 56%"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- static user stats box: I would like to make this dynamic...-->
        <div class="block block-drop-shadow">

            <div class="head bg-dot20">

                <h2>User Data</h2>
                <div class="side pull-right">
                    <ul class="buttons"></ul>
                </div>

                <div class="head-panel nm">
                    <div class="hp-info hp-simple pull-left hp-inline">
                        <span class="hp-main"><span class="icon-circle"></span> DAU: 131,121</span>
                    </div>
                    <div class="hp-info hp-simple pull-left hp-inline">
                        <span class="hp-main"><span class="icon-circle text-info"></span> MAU: 435,123</span>
                    </div>
                    <div class="hp-info hp-simple pull-left hp-inline">
                        <span class="hp-main"><span class="icon-circle text-primary"></span> ACTIVE: 912,123</span>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--left side of the grid-->
    <div class="col-md-5">

        <div class="block block-drop-shadow">

            <div class="head bg-default bg-light-ltr">
                <h2>Total sales</h2>
                <div class="side pull-right">
                    <ul class="buttons">
                        <!--<li><a href="#"><span class="icon-cogs"></span></a></li>-->
                    </ul>
                </div>
                <div class="head-panel nm">
                    <div class="left_abs_100" style="margin-top: 20px;">
                        <div class="knob">
                            <input type="text" data-fgColor="#FFFFFF" data-min="0" data-max="200" data-width="100" data-height="100" value="155" data-readOnly="true"/>
                        </div>
                    </div>
                    <div class="chart" id="dash_chart_1" style="height: 150px;"></div>
                </div>
                <div class="head-panel nm">
                    <div class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-thumbs-up-alt"></span>
                        </div>
                        <span class="hp-main">155</span>
                        <span class="hp-sm">Sales</span>
                    </div>
                    <div class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-thumbs-down-alt"></span>
                        </div>
                        <span class="hp-main">23</span>
                        <span class="hp-sm">Cancelled</span>
                    </div>
                    <div class="hp-info pull-right">
                        <div class="hp-icon">
                            <span class="icon-usd"></span>
                        </div>
                        <span class="hp-main">19,215.23</span>
                        <span class="hp-sm">Total Income</span>
                    </div>
                </div>
            </div>

            <!-- potential progress bar to display the amount of sales made. remove if you want -->
            <div class="content list">
                <div class="list-title">
                    Previous months
                </div>
                <div class="list-item">
                    <div class="list-text">
                        <strong>May 2013</strong>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-text">
                        <strong>April 2013</strong>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100" style="width: 64%"></div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-text">
                        <strong>March 2013</strong>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100" style="width: 58%"></div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-text">
                        <strong>February 2013</strong>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%"></div>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-text">
                        <strong>January 2013</strong>
                        <div class="progress progress-small">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- right side of the grid -->
    <div class="col-md-5">

        <div class="block block-drop-shadow">
            <div class="head bg-default bg-light-rtl">
                <h2>Inbox messages</h2>
                <div class="side pull-right">
                    <ul class="buttons">
                        <li><a href="#"><span class="icon-plus"></span></a></li>
                        <li><a href="#"><span class="icon-cogs"></span></a></li>
                    </ul>
                </div>
                <div class="head-panel nm">
                    <a href="#" class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-download-alt"></span>
                        </div>
                        <span class="hp-main">25</span>
                        <span class="hp-sm">recived</span>
                    </a>
                    <a href="#" class="hp-info pull-left">
                        <div class="hp-icon">
                            <span class="icon-upload-alt"></span>
                        </div>
                        <span class="hp-main">10</span>
                        <span class="hp-sm">sent</span>
                    </a>
                    <a href="#" class="hp-info hp-one pull-right tip" title="Refresh">
                        <div class="hp-icon">
                            <span class="icon-refresh"></span>
                        </div>
                        <span class="hp-main">9:24 am</span>
                    </a>
                </div>
            </div>
            <div class="content list">
                <div class="list-item">
                    <div class="list-datetime">
                        <div class="time">9:45 am</div>
                    </div>
                    <div class="list-info">
                        <!--<img src="img/example/user/dmitry.jpg" class="img-circle img-thumbnail"/>-->
                    </div>
                    <div class="list-text">
                        <a href="#" class="list-text-name">John Doe</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit.</p>
                    </div>
                    <div class="list-controls">
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-rotate-right"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-pushpin"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-remove"></span></a>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-datetime">
                        <div class="time">8:16 am</div>
                    </div>
                    <div class="list-info">
                        <!--<img src="img/example/user/alexey.jpg" class="img-circle img-thumbnail"/>-->
                    </div>
                    <div class="list-text">
                        <a href="#" class="list-text-name">Brad Pitt</a>
                        <p>Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque.</p>
                    </div>
                    <div class="list-controls">
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-rotate-right"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-pushpin"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-remove"></span></a>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-datetime">
                        <div class="date">ORDER #?</div>
                        <div class="time">9:59 pm</div>
                    </div>
                    <div class="list-info">
                        <!--<img src="img/example/user/olga.jpg" class="img-circle img-thumbnail"/>-->
                    </div>
                    <div class="list-text">
                        <a href="#" class="list-text-name">Angelina Jolie</a>
                        <p>Morbi tincidunt, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                    </div>
                    <div class="list-controls">
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-rotate-right"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-pushpin"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-remove"></span></a>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-datetime">
                        <div class="date">27.08</div>
                        <div class="time">4:34 pm</div>
                    </div>
                    <div class="list-info">
                        <!--<img src="img/example/user/helen.jpg" class="img-circle img-thumbnail"/>-->
                    </div>
                    <div class="list-text">
                        <a href="#" class="list-text-name">Keira Knightley</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit.</p>
                    </div>
                    <div class="list-controls">
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-rotate-right"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-pushpin"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-remove"></span></a>
                    </div>
                </div>
                <div class="list-item">
                    <div class="list-datetime">
                        <div class="date">26.08</div>
                        <div class="time">12:12 am</div>
                    </div>
                    <div class="list-info">
                        <!--<img src="img/example/user/dmitry.jpg" class="img-circle img-thumbnail"/>-->
                    </div>
                    <div class="list-text">
                        <a href="#" class="list-text-name">John Doe</a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit.</p>
                    </div>
                    <div class="list-controls">
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-rotate-right"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-pushpin"></span></a>
                        <a href="#" class="widget-icon widget-icon-circle"><span class="icon-remove"></span></a>
                    </div>
                </div>
            </div>
            <div class="footer tac">
                <a href="#">Load more messages...</a>
            </div>
        </div>





    </div>



</div>


